# **Uploading the Client file and ML Model**

# **Client file Analysis**

In [22]:
import pandas as pd
df = pd.read_csv('clientinput.csv')
df

   area
0  4000
1  5300
2  6200
3  6600
4  6800
5  7000
6  7100
7  7200
8  7500

# **Activate the ML model**

In [23]:
import pickle
with open('/content/landpricemodel','rb') as f:
  reg = pickle.load(f)

# **Predict the Output**

In [24]:
pricedf = reg.predict(df)

In [25]:
df['price'] = pricedf
df

   area         price
0  4000  2.866270e+07
1  5300  3.791983e+07
2  6200  4.432862e+07
3  6600  4.717697e+07
4  6800  4.860114e+07
5  7000  5.002531e+07
6  7100  5.073740e+07
7  7200  5.144949e+07
8  7500  5.358575e+07

In [26]:
df.to_csv('Predicted price.csv', index = False)